{{ define "main" }}
  <div class="content">
    <div class="content__center">
      <div class="section__heading">
        <h2 class="section__title">
          {{ .Title }}
        </h2>
      </div>
      <div class="section__content">
        {{ .Content }}
      </div>
      <small>
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
        <a href="javascript:history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
      </small>
    </div>
  </div>
{{ end }}
